<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264196202273-e8idi29lenb9ho17ncjuqg0tcube98b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264196202273-e8idi29lenb9ho17ncjuqg0tcube98b7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264196202273-h5jjhubdrfr6k287hi2qe29e2q9ot8i3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFAFM-JcMX589MDTArZ3WYO4DeFf7L3Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>264196202273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signInGoogle</string>
	<key>PROJECT_ID</key>
	<string>signwith-8536e</string>
	<key>STORAGE_BUCKET</key>
	<string>signwith-8536e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264196202273:ios:fd6d80d40de10e1c772860</string>
</dict>
</plist>